@media only screen and (min-width: 49em) {
  header {
    padding: 26px 154px;
  }

  .desktop-view-links,
  .desktop-view-links.show {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    width: 255px;
    height: 40px;
    padding: 10px;
    align-items: center;
  }

  .desktop-view-links li {
    display: block;
  }

  .desktop-view-links li a {
    text-decoration: none;
    color: #fff;
  }

  .desktop-view-links.show li:last-child {
    display: block;
  }

  .nav-button {
    display: none;
  }

  .home-intro {
    background-image: url(../assets/mobile/Illustration-header.svg);
    background-size: contain;
    background-position: right bottom 10%;
    flex-direction: row-reverse;
    gap: 87px;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
  }

  .intro-wrap {
    width: 550px;
  }

  .intro-wrap p {
    font-size: 20px;
    line-height: 32px;
  }

  .intro-wrap h1 {
    font-size: 4.5em;
    line-height: 81.5px;
  }

  .intro-wrap h2 {
    font-size: 2em;
    line-height: 2.75em;
  }

  .social-media {
    flex-direction: column;
    width: 17.99px;
    height: 210px;
  }

  .work-section {
    padding: 8.44em 8.8em;
  }

  .work-title {
    display: flex;
  }

  .work-title h3 {
    width: 45%;
  }

  .multi-post-con {
    flex-direction: row;
    gap: 1.5em;
  }

  .multi-con-img {
    width: 55%;
  }

  .multi-post-stories {
    width: 45%;
  }

  .card-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    position: relative;
    z-index: 2;
    overflow: hidden;
  }

  .card-works {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
  }

  .card .button {
    position: absolute;
    bottom: -52px;
    left: 0;
    right: 0;
    transition: 0.5s ease;
  }

  .about-me {
    padding: 7.5em 50% 9.4em 8.8em;
    background-image: url('../assets/mobile/illustration-about-me.svg');
    background-position: top 45% right;
  }

  .about-me h3 {
    font-size: 4.5em;
    line-height: 81.5px;
  }

  .about-me p {
    font-size: 1.25em;
    line-height: 32px;
  }

  .skill-wrapper {
    flex-direction: row;
    padding: 0 1.5em;
  }

  .s-lists {
    text-align: left;
  }

  .skills {
    align-items: flex-start;
  }

  .skills-con {
    padding: 0 8.4em;
  }

  .get-in-touch {
    flex-direction: row;
    padding: 8.44em 8.8em;
  }

  .invitation {
    width: 40%;
    padding-right: 0.5em;
    text-align: left;
    font-size: 2.5em;
    line-height: 52px;
  }

  .form {
    width: 60%;
    align-items: flex-start;
  }

  /* modal */
  .links {
    margin-top: 4em;
  }

  .modal-container {
    padding: 1rem;
    max-width: 1156px;
    margin: auto;
    margin-top: 10%;
    height: 631px;
  }

  .modal-body {
    flex-direction: row;
  }

  .modal-image {
    width: 60%;
    height: 90%;
  }

  .project-description-container {
    width: 40%;
  }
}
