* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-font-style: 'Crete Round', serif;
  --font2-style: 'Roboto', sans-serif;
  --font3: 'Poppins', sans-serif;
  --font4: 'Inter', sans-serif;
  --primary-color: #1c1a19;
  --background-color: #fff;
  --accent-color: #ff6b00;
  --accent2-color: #3c3a39;
  --accent3-color: #091e42;
  --accent4-color: #172b4d;
  --accent5-color: #dbd8d7;
  --accent6-color: #fbf8f7;
  --accent7-color: #979493;
  --accent8-color: #fff5e1;
  --border-color: #8993a4;
}

img {
  width: 100%;
}

body {
  background-color: var(--background-color);
  min-width: 375px;
}

.font2 {
  font-family: var(--font2-style);
  font-weight: 700;
}

.font3 {
  font-family: var(--font3);
  font-weight: 400;
}

.font4 {
  font-family: var(--font4);
  font-weight: 400;
}

.title {
  font-family: var(--primary-font-style);
  font-weight: 400;
}

.d-flex {
  display: flex;
}

.f-column {
  flex-direction: column;
}

nav {
  background-color: var(--accent2-color);
}

nav a {
  display: flex;
}

.head-con {
  padding: 1em 2.25em 0.75em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-con img {
  height: 24px;
}

.nav-button {
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ham {
  width: 24px;
  height: 4px;
  background-color: var(--background-color);
  border-radius: 2px;
}

.home-intro {
  background-color: var(--primary-color);
  background-image: url("../assets/mobile/heading_accent.svg");
  background-repeat: no-repeat;
  background-position: right bottom -16%;
  display: flex;
  flex-direction: column;
}

.pad-24-120 {
  padding: 7.5em 1.5em;
}

.home-intro h1 {
  font-size: 3.5em;
  line-height: 64px;
  color: var(--accent-color);
}

.home-intro h2 {
  font-size: 1.5em;
  line-height: 2em;
  color: var(--accent8-color);
}

.home-intro p {
  font-size: 1em;
  line-height: 1.5em;
  color: var(--background-color);
}

.social-media {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin-top: 12px;
}

.social-media img {
  width: 24px;
  height: 24px;
}

.work-section {
  display: grid;
  grid-template-columns: 1fr;
}

.work-title h3 {
  font-size: 2.5em;
  line-height: 52px;
  display: flex;
  flex-direction: column;
}

.mt-80 {
  margin-top: 5em;
}

.sub-title {
  font-size: 2em;
}

.multi-post-con {
  display: flex;
  flex-direction: column;
}

.multi-post-stories {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 1.5em;
}

.font-body-reg {
  font-family: var(--font4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

ul li {
  list-style: none;
}

.skill-lists li {
  padding: 10px 12px;
  font-size: 15px;
  font-family: var(--font4);
  font-weight: 500;
}

.mt-24 {
  margin-top: 1.5em;
}

.skill-lists {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: var(--accent-color);
  padding: 0.75em;
  font-family: var(--font4);
  font-weight: 700;
  line-height: 1.5em;
  text-align: center;
  font-size: 17px;
  color: var(--background-color);
  border: none;
  letter-spacing: 1px;
}

.button:hover {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  background-color: #fff5e1;
}

.button:active {
  color: #f4f1f0;
}

.button:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
}

.w-100 {
  width: 100%;
}

.w-314 {
  width: 314px;
}

.w-247 {
  width: 247px;
}

.w-135 {
  width: 135px;
}

.border-1 li {
  border: 1px solid var(--border-color);
}

.card-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  background-image: url("../assets/mobile/ImgPlaceholder.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  color: var(--background-color);
  gap: 12px;
  justify-content: flex-end;
}

.card-works {
  padding: 4.5em 19px 0 13px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-works h5 {
  font-size: 2em;
}

.bg-list li {
  background: #ffffff3d;
}

.about-me-section-con {
  padding: 7.5em 1.5em 87.54px 1.5em;
  background-image: url("../assets/mobile/illustration-about-me-mobile.svg");
  background-color: var(--primary-color);
  background-repeat: no-repeat;
  color: var(--background-color);
  background-position: top 380px right;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-me {
  margin-bottom: 195px;
}

.about-me h3 {
  font-size: 4.5em;
  color: var(--accent-color);
}

.m24-0 {
  margin: 1.5em 0;
}

.skill-title {
  justify-content: center;
  align-items: center;
  gap: 0.75em;
}

.mb-8 {
  margin-bottom: 8em;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.s-lists {
  flex-direction: column;
  gap: 2em;
  font-family: var(--font4);
  font-weight: 400;
  font-size: 22px;
  margin-top: 2em;
  text-align: center;
}

.skill-name {
  font-family: var(--font4);
  font-weight: 700;
  font-size: 2em;
}

.skill-wrapper {
  flex-direction: column;
  gap: 2.75em;
}

.get-in-touch {
  padding: 69px 24px 78px 24px;
  display: flex;
  flex-direction: column;
  gap: 69px;
}

.invitation {
  text-align: center;
  font-family: var(--font4);
  font-weight: 700;
  font-size: 2em;
  color: var(--accent4-color);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
  align-items: center;
}

.form-input {
  font-family: var(--font4);
  font-weight: 400;
  font-size: 15px;
  padding: 15px 16px;
  border: none;
  border-bottom: 1px solid var(--accent5-color);
  width: 100%;
}

.input-text {
  padding: 12px;
  font-family: var(--font4);
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  width: 100%;
  height: 114px;
  color: var(--accent2-color);
  background-color: var(--accent6-color);
  border: none;
}

footer {
  padding: 15px;
  height: 72px;
  border-top: 1px solid var(--accent5-color);
  justify-content: center;
}

.f-social-media {
  width: 200px;
  justify-content: space-between;
  align-items: center;
}
